@import url( 'https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');

$lightPink: #F6D2C9;
$darkPink: #DF8B79;
$white: #FFFFFF;
$lightBrown: #A5857E;

*{
 	margin: 0;
 }

 /**** Alignment and spacing of sections ********/
  .wrapper {
 	background-color: #A98C86;
 	padding-bottom: 20px;
  .header {
    background: url(../img/mtsnowmelt.jpg);
  	height: 90vh;
  	background-size: cover;
    border-bottom: 4px dashed #DF8B79;
    h1 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 60px;
      color: $lightPink;
      text-align: center;
    	text-shadow: 2px 2px #891f1f;
    }
  }
  .navbar {
  	padding: 20px;
  	background-color: $darkPink;
  	text-align: center;
  	margin-bottom: 20px;
    border-bottom: 4px dashed #A5857E;
    li{
      font-size: 25px;
    }
  }
  img {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height:30rem;
    padding: 20px;
  }
  .content {
  	position: relative;
  	padding: 30px 50px;
  	margin: 30px 10px;
  	background-color: #DCC1BB;
  	border-radius: 25px;
    border: 2px solid $darkPink;
    h3 {
      color: $white;
    }
    p {
      color: $lightBrown;
      line-height: 28px;
    }
  }
  .knowledge {

  }
  .projects {

  }

  .contactMe {
    align-items: center;
    .links {
    	padding: 20px;
    	text-align: center;
    	margin-bottom: 20px;
      li{
        // font-size: 25px;
      }
    }
  }

 }

.footer {
	position: absolute;
	right:0;
	margin:0;
	left:0;
	width: 100%;
	height: 50px;
	background-color: #D0BCB7;
	color: #696969;
	text-align: center;
  p {
    padding-top: 18px;
  }
}

/**** Nav bar*******/
.navbar li,
.header li {
	margin: 0;
	display: inline-block;
}


/*** Active selectors


WORK ON THE PSEUDO ELEMENTS NEXT

**/

a:link {
	color: #891f1f;
	text-decoration: none;
	padding: 40px;
 }
a:visited {
	background-color: #997E82;
	color: white;
}
a:hover, a:active {
    color: #F7F1F0;

}




/******* Media Queries *****/

/* tablets and desktop */
@media only screen and (min-width: 974px) {
  .wrapper {
    // background-color: yellow;
    }
  }
/* phones */
@media only screen and (max-width: 974px) {
  .wrapper {
    // background-color: blue;
    .header {
      height: 95vh;
      h1 {
      font-size: 50px;
      width: 75%;
      }
    }
    .navbar {
      margin: 0;
      padding: 0;
      li {
        padding: 0 0 0 0;
        display: block;
        height: 70px;
      }
      a {
        padding: 0 0 0 0;
        position: relative;
        top: 20px;
      }
    }
    img {
      border-radius: 50%;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 75%;
      height: 75%;
    }
    .content {
    }
    .contactMe {
      .links {
        width: 100%;
        margin: 0;
        padding: 0 0 0 0;
        a {
          padding: 0 0 0 0;
          display: block;
          height: 70px;
          font-size: 20px;
          position: relative;
          top: 20px;
        }
      }
    }
  }
}
/* portrait phones */
@media only screen and (max-width: 767px) and (orientation: portrait) {
  .wrapper {
    // background-color: red;
  }
}
