$purple: #9e87c4;
$green: #50A39B;
$blue: #535f95;
$offWhite: #FFFAFA;
$offBlack: #2B2B2B;
$softGreen: #E7F1CC;
$softYellow: #EAE2BD;
$softPink: #FFC8A0;


body p {
  font-size: 16px;
}


.sectionTitles{
  font-size: 2.5rem;
  color: $green;
  font-family: 'Yeseva One', cursive;
  text-shadow: 2px .5px $blue;
  margin-bottom: 50px;
  margin-top: 40px;
}

button {
 background-color: $green;
 color: $offWhite;
 border-radius: 10%;
 border: 1px solid black;
 width:7rem;
 a {
   color: $offWhite;
   text-shadow: 1.2px 1.2px $blue;
 }
}

.img-fluid {
  border: 0px solid #dee2e6;
}




.header {
  height: 100%;
  .navbar {
    &__logo {
      font-size: 1.4rem;
      color: $green !important;
      text-shadow: 1.2px 1.2px $blue;
    }
    .nav-item {
      .nav-link {
        &:hover {
        color:$softPink;
        text-shadow: 1.2px 1.2px $blue;
    }
      }
    }
  }
  .jumbotron {
    background-image: url("/img/hardwood.jpg");
    background-repeat: repeat;
    z-index: 999999;
    right: 0;
    width: 100%;
    height: 80vh;
    text-align: center;
    display: table;
    &__box {
      width: 100%;
      height: 100%;
      display: table-cell;
      vertical-align: middle;
      text-shadow: 2px 2px 5px rgba(0, 5, 0, 1);
      color: $offWhite;

      // margin-top: auto;
      // margin-bottom: auto;
      // text-align: center;
      &__title {
        font-size: 3rem;
      }
      &__paragraph {
        font-size:2rem;
      }
    }
  }
}


.info {
  height: 100%;
  &__align {
    height: auto;
    width: 100%;
    &__aboutMe {
      width: 100%;
      padding-bottom: 2rem;
      margin-left: auto;
      margin-right: auto;
      &__content{
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        &__img {
          border-radius: 50%;
          margin-bottom: 50px;
          margin-left: auto;
          margin-right: auto;
        }
        &__paragraph {
          font-size: .9rem;
          font-family: 'Open Sans', sans-serif;
          font-weight: 400;
        }
      }
    }
    &__knowledge {
      padding-right: 0;
      padding-left: 0;
      padding-top: 0;
      padding-bottom: 0;
      &__content {
        width: 70%;
        padding-top: 40px;
        margin-left: auto;
        margin-right: auto;
        &__card {
          &__img {
            padding-bottom: 1rem;
          }
        }
      }
    }
  }
}




.projects {
  &__container{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
    &__content {
      flex-basis: 33%;
      &__image {
        padding-bottom: 30px;
        margin-left: auto;
        margin-right: auto;
        width: 300px;
        a {
          margin-left: auto;
          margin-right: auto;
          img {
            width: 200px;
            max-height: 350px;
            border-radius: 5%;
            object-fit:cover;
            object-position: top;
            margin-top: 1rem;
            padding: 0;
            box-shadow: 0px 10px 40px -8px rgba(0,0,0,0.58);
            -webkit-box-shadow: 0px 10px 40px -8px rgba(0,0,0,0.58);
            -moz-box-shadow: 0px 10px 40px -8px rgba(0,0,0,0.58);
          }
        }
      }
      &__text {
        text-align: center;
        padding-bottom: 60px;
        &__title {
          display: block;
          text-align: center;
          width: 100%;
          font-size: 1.5rem;
          color: $green;
          text-shadow: 1.1px 1.1px $blue;
          &:hover {
          text-decoration: none;
          color: $blue;
          }
        }
        &__p {
          width: 99%;
        }
        &__btn {
          display: block;
          align-items: center;
          width: 60%;
          margin-top: .5rem;
          margin-left: auto;
          margin-right: auto;

          &:hover {
            background-color: $blue;
          }
          .link {
            &:hover {
            text-decoration: none;
            color: $offWhite;
            }
          }
        }
      }
    }
  }
}





#HTMLprojects {
  background-color: white;
  padding-bottom: 80px;
  padding-top: 80px;
  h3, .projects__container__content__text__title {
    color: $purple;

  }
  .projects__container__content__text__btn{
    background-color: $purple;
  }
}







.footer {
  	background-color: $green;
    margin-top: 3rem;
    &__links {
      padding-bottom: 30px;
      padding-top: 30px;
      &__a {
        font-size: 20px;
        margin-left:20px;
        text-shadow: 1px 1px $purple;
        color: $offWhite;
        &:hover {
        color: $softPink;
        text-shadow: 1.2px 1.2px $blue;
    }
      }
    }
    &__copyright{
      padding-bottom: 5px;
      &__p {
        font-size: 14px;
        color: $offWhite;
      }
    }
  }
