$purple: #9e87c4;
$green: #50A39B;
$blue: #535f95;
$offWhite: #FFFAFA;
$offBlack: #2B2B2B;
$softGreen: #E7F1CC;
$softYellow: #EAE2BD;
$softPink: #FFC8A0;


body p {
  font-size: 16px;
}


.sectionTitles{
  font-size: 2rem;
  color: $green;
  text-shadow: 2px 2px $blue;
  margin-bottom: 50px;
  margin-top: 40px;
}

button {
 background-color: $green;
 color: $offWhite;
 border-radius: 10%;
 border: 1px solid black;
 width:7rem;
 a {
   color: $offWhite;
   text-shadow: 1.2px 1.2px $blue;
 }
}

.img-fluid {
  border: 0px solid #dee2e6;
}




.header {
  height: 100%;
  .navbar {
    &__logo {
      font-size: 1.4rem;
      color: $green !important;
      text-shadow: 1.2px 1.2px $blue;
    }
    .nav-item {
      .nav-link {
        &:hover {
        color:$softPink;
        text-shadow: 1.2px 1.2px $blue;
    }
      }
    }
  }
  .jumbotron {
    background-image: url("/img/hardwood.jpg");
    background-repeat: repeat;
    width:100%;
    height:80vh;
    object-fit:cover;
    &__box {
      text-shadow: 2px 2px 5px rgba(0, 5, 0, 1);
      color: $offWhite;
      height: 100%;
      margin-top: auto;
      margin-bottom: auto;
      text-align: center;
      &__title {
        font-size: 10vh;
      }
      &__paragraph {
        font-size:5vh;
      }
    }
  }
}


.info {
  height: 100%;
  &__align {
    height: auto;
    width: 100%;
    &__aboutMe {
      width: 100%;
      padding-bottom: 2rem;
      &__img {
        max-width:100%;
        border-radius: 50%;
        margin-bottom: 50px;
      }
    }
    &__knowledge {
      padding-right: 0;
      padding-left: 0;
      padding-top: 0;
      padding-bottom: 0;
      &__card {
        &__img {
          padding-bottom: 1rem;
        }
      }
    }
  }
}




.projects {
  &__content {
    &__text {

      &__title {
        font-size: 1.5rem;
        color: $green;
        text-shadow: 1.1px 1.1px $blue;
        &:hover {
        text-decoration: none;
        color: $blue;
        }
      }
      &__btn {
        &:hover {
          background-color: $blue;
        }
        .link {
          &:hover {
          text-decoration: none;
          color: $offWhite;
          }
        }
      }
    }
    &__image {

    }
  }
  .line {
    border-bottom: .5px solid grey;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }
}


.footer {
  	background-color: $green;
    margin-top: 2rem;
    &__links {
      padding-bottom: 30px;
      padding-top: 30px;
      &__a {
        font-size: 20px;
        margin-left:20px;
        text-shadow: 1px 1px $purple;
        color: $offWhite;
        &:hover {
        color: $softPink;
        text-shadow: 1.2px 1.2px $blue;
    }
      }
    }
    &__copyright{
      padding-bottom: 5px;
      &__p {
        font-size: 14px;
        color: $offWhite;
      }
    }
  }
