@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");
* {
  margin: 0; }

/**** Alignment and spacing of sections ********/
.header {
  background: #e29837;
  background: radial-gradient(circle, #e29837 0%, #8b5014 100%);
  height: 90vh;
  max-width: 100%;
  position: relative; }
  .header .navbar {
    width: 60%;
    height: 15vh;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    font-family: 'ABeeZee', sans-serif; }
    .header .navbar .img-div {
      width: 30%;
      margin-left: auto;
      margin-right: auto;
      text-align: center; }
      .header .navbar .img-div img {
        height: 75px;
        width: 250px;
        margin-left: auto;
        margin-right: auto; }
    .header .navbar ul {
      width: 70%;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      padding-left: 0px; }
      .header .navbar ul a {
        text-align: center;
        color: #F6D2C9;
        font-size: 20px;
        text-shadow: 1px 1px #891f1f;
        padding-right: 30px; }
  .header .title-section {
    height: 75vh;
    text-align: center;
    position: absolute !important;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; }
    .header .title-section img {
      height: 200px;
      width: 200px;
      border-radius: 30%;
      border: solid 3px white; }
    .header .title-section .text-area {
      margin: auto;
      width: 100%; }
      .header .title-section .text-area h5 {
        font-size: 30px;
        color: #F6D2C9;
        text-shadow: 2px 2px #891f1f;
        padding-top: 20px; }
      .header .title-section .text-area h1 {
        font-size: 60px;
        font-family: 'ABeeZee', sans-serif;
        margin: auto;
        color: #F6D2C9;
        text-align: center;
        text-shadow: 2.5px 2.5px #891f1f; }

#content-section {
  width: 100%;
  margin-left: auto;
  margin-right: auto; }
  #content-section .content {
    position: relative;
    border-bottom: 2px dashed #D0BCB7;
    padding: 8%;
    background: #e29837;
    background: linear-gradient(336deg, #e29837 0%, #b1225e 92%, #8d5210 100%); }
    #content-section .content .sectionTitle {
      color: #FFFFFF;
      text-align: center;
      font-size: 2.7rem;
      margin: 0 0 10px 0;
      text-shadow: 2px 2px #891f1f;
      font-family: 'ABeeZee', sans-serif; }
    #content-section .content p {
      color: #fff7f0;
      text-shadow: 1px 1px #891f1f;
      line-height: 28px;
      padding-bottom: 20px;
      border-radius: 10px 100px / 120px; }

#aboutMe p {
  font-size: 18px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px !important;
  background: rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 10px 10px 5px -1px rgba(0, 0, 0, 0.52);
  -moz-box-shadow: 10px 10px 5px -1px rgba(0, 0, 0, 0.52);
  box-shadow: 10px 10px 5px -1px rgba(0, 0, 0, 0.52); }

#knowledge .sectionTitle {
  padding-bottom: 10px; }
#knowledge .knowledge-icons {
  background: rgba(255, 255, 255, 0.3);
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: ". . . ." ". . . .";
  border-radius: 10px 100px / 120px;
  -webkit-box-shadow: 10px 10px 5px -1px rgba(0, 0, 0, 0.52);
  -moz-box-shadow: 10px 10px 5px -1px rgba(0, 0, 0, 0.52);
  box-shadow: 10px 10px 5px -1px rgba(0, 0, 0, 0.52); }
  #knowledge .knowledge-icons .icons {
    position: relative;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto; }
    #knowledge .knowledge-icons .icons img {
      display: block;
      width: 80%;
      height: auto;
      margin-left: auto;
      margin-right: auto;
      margin-top: auto;
      margin-bottom: auto;
      padding-right: 0px !important;
      padding-left: 0px !important;
      padding-top: 0px !important;
      padding-bottom: 0px !important;
      border-radius: 40px; }
    #knowledge .knowledge-icons .icons .overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      transition: .5s ease;
      background-color: #DF8B79;
      border-radius: 30px; }
      #knowledge .knowledge-icons .icons .overlay:hover {
        opacity: 1; }
      #knowledge .knowledge-icons .icons .overlay .text {
        color: white;
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center; }

#projects .container {
  text-align: center;
  background: rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 10px 10px 5px -1px rgba(0, 0, 0, 0.52);
  -moz-box-shadow: 10px 10px 5px -1px rgba(0, 0, 0, 0.52);
  box-shadow: 10px 10px 5px -1px rgba(0, 0, 0, 0.52); }
  #projects .container h1 {
    color: #fff7f0;
    padding-bottom: 20px;
    font-size: 2.5rem;
    text-shadow: 2px 2px #891f1f;
    text-decoration: underline; }
  #projects .container .item {
    padding-bottom: 40px; }
    #projects .container .item a {
      font-size: 1.2rem;
      text-shadow: 1px 1px #891f1f;
      color: white; }
      #projects .container .item a:hover {
        color: #CE9DD9; }
    #projects .container .item p {
      font-size: 1rem;
      padding-bottom: 0px !important; }
    #projects .container .item .link {
      font-size: 15px !important;
      font-style: italic;
      color: #F6D2C9;
      text-shadow: 1px 1px #A98C86;
      padding-bottom: 0px !important; }
      #projects .container .item .link:hover {
        color: #CE9DD9; }
#projects .projectTypes {
  margin-bottom: 10px; }
  #projects .projectTypes .emails {
    border-radius: 10px 100px / 120px;
    margin-bottom: 40px; }
  #projects .projectTypes .websites {
    border-radius: 100px 10px / 120px;
    margin-bottom: 40px; }

#footer {
  position: absolute;
  right: 0;
  margin: 0;
  left: 0;
  width: 100%;
  height: auto;
  background-color: #585e5e;
  color: #fff7f0;
  text-align: center; }
  #footer .links {
    padding-bottom: 30px;
    padding-top: 30px; }
    #footer .links a {
      font-size: 20px;
      margin-left: 20px;
      text-shadow: 1px 1px #A98C86; }
  #footer .copyright {
    padding-bottom: 5px; }
    #footer .copyright p {
      font-size: 14px;
      color: #fff7f0; }

/**** Nav bar*******/
.navbar li,
.header li {
  margin: 0;
  display: inline-block; }

/*** Active selectors


WORK ON THE PSEUDO ELEMENTS NEXT

**/
a:link {
  color: white;
  text-decoration: none; }

a:visited {
  background-color: #997E82;
  color: white; }

a:hover {
  color: orange !important; }

/******* Media Queries *****/
/* tablets and desktop */
@media only screen and (min-width: 974px) {
  #projects .projectTypes {
    display: grid;
    height: auto;
    align-content: space-evenly;
    grid-gap: 10px;
    grid-template-columns: auto auto;
    padding: 10px; }
    #projects .projectTypes .container {
      text-align: center;
      font-size: 30px; } }
/* phones */
@media only screen and (max-width: 974px) {
  .wrapper .header .navbar {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px; }
    .wrapper .header .navbar .img-div {
      display: none; }
    .wrapper .header .navbar ul {
      width: 100% !important;
      padding-left: 0px !important; }
      .wrapper .header .navbar ul a {
        text-align: center;
        padding-right: 0px !important; }
  .wrapper .title-section {
    width: 90% !important;
    position: absolute !important;
    top: 65%;
    left: 50%; }
    .wrapper .title-section .text-area {
      width: 90% !important; }
      .wrapper .title-section .text-area h1 {
        font-size: 50px; }
  .wrapper #knowledge .knowledge-icons {
    width: 100% !important; } }
/* portrait phones */
@media only screen and (max-width: 320px) and (orientation: portrait) {
  .header .navbar {
    width: 100%;
    height: 15vh;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    font-family: 'ABeeZee', sans-serif; }
    .header .navbar .img-div {
      display: none; }
    .header .navbar ul {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      padding-left: 0px; }
      .header .navbar ul a {
        text-align: center;
        color: #F6D2C9;
        font-size: 15px !important;
        text-shadow: 1px 1px #891f1f;
        padding-right: 0px !important; }

  .content p {
    padding: 37px !important;
    width: 90%; } }

/*# sourceMappingURL=main.css.map */
